.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  padding: 195px 0;
}

.popup_opened {
  display: flex;
}

@media screen and (max-width: 640px){
  .popup {
    padding: 123px 0;
  }
}

