.popup__saveButton {
  max-width: 358px;
  width: 100%;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, .2);
  margin: 48px 36px 37px 36px;
  color: #FFF;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  text-align: center;
  font-size: 18px;
  background: black;
  border-radius: 2px;
}

.popup__saveButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .popup__saveButton {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin: 45px 22px 25px 22px;
  }
}
