.profile__addButton {
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: #000000;
  border-radius: 2px;
  max-width: 150px;
  max-height: 50px;
}

.profile__addButton:hover {
  opacity: 0.8;

}

@media screen and (max-width: 1007px) {
  .profile__addButton {
    margin: 0 20px 0 auto;
  }
}

@media screen and (max-width: 690px) {
  .profile__addButton {
    margin:36px auto 0 auto;
    max-width: 80%;
  }

}
