.profile__avatar {
  min-width: 120px;
  min-height: 120px;
  border-radius: 120px;
  margin: 0 32px 0 0;
  padding: 0;
}

@media screen and (max-width: 1007px) {
  .profile__avatar {
    margin: 0 32px 0 20px;
  }
}
