.card__like {
  margin: 25px 22px 0 auto;
  max-width: 21px;
  max-height: 19px;
}

.card__like:hover {
  opacity: 0.5;
}

.card__like:active {
  opacity: 1;
  background-image: url("../../../images/Union.svg");
}
