.footer {
  color: #545454;
  max-width: 880px;
  margin: 66px auto 60px auto;
  padding: 0;
}

@media screen and (max-width: 1007px) {
  .footer {
    margin: 48px auto 36px auto;
    padding: 0 0 0 20px;
  }
}
