.profile__editButton {
  background-image: url(../../../images/editButton.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-flex;
  box-sizing: border-box;
  border: none;
  margin: 10px 18px 0 18px;
  padding: 0;
}

.profile__editButton:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 528px) {
  .profile__editButton {
    margin: 20px 20px 15px 10px;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
  }
}


