.popup__closeButton {
  position: absolute;
  top: -48.28px;
  right: -48.28px;
}

.popup__closeButton:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px){
  .popup__closeButton {
    right: -10px;
    width: 35px;
    height: 35px;
  }
}
